/* Navbar SECTION */
/* Fixate the navbar to follow when scrolling */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.8em;
    margin: 0;
}

li {
    padding: 20px;
}

a {
    color: #183450;
    text-decoration: none;
}

/* Responsive UI for text, trigger it once the width of a webpage is less then the max-width */
@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
        transition: all 1s;
    }
}

.push-left {
    margin-left: auto;
}

/* Cover SECTION */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* vh is the viewport height, height: my_numbervh; my_number will be the % taken up the cover on the webpage */
    height: 100vh;
}

.cover-img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}

/* Project SECTION */
.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 600px));

    justify-content: center;
    align-items: center;

}

.picture>img {
    width: 100%;
    height: 100%;
}

.picture {

    object-fit: cover;
    background-color: #e314c4;
    margin: 10px;

}

/* Footer SECTION */
footer{
    text-align: center;
}

body {
    margin: auto 0;
    background-color: rgb(41, 40, 40);
}



.zone {
    cursor: pointer;
    color: #FFF;
    font-size: 2em;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(190, 190, 190, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

/* SECTION background colors */
.green {
    background-image: linear-gradient(to bottom, #45A368, #157539);
}

.red {
    background-image: linear-gradient(to bottom, #E16360, #A1201D);
}

.yellow {
    background-image: linear-gradient(to bottom, #E1B660, #A1751D);
}

.blue {
    background-image: linear-gradient(to bottom, #496197, #1C346C);
}