/* Navbar SECTION */
.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.8em;
    margin: 0;
}

li {
    padding: 20px;
}

a {
    color: #183450;
    text-decoration: none;
}

/* Responsive UI for text, trigger it once the width of a webpage is less then the max-width */
@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
        transition: all 1s;
    }
}

.push-left {
    margin-left: auto;
}

/* Cover SECTION */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* vh is the viewport height, height: my_numbervh; my_number will be the % taken up the cover on the webpage */
    height: 50vh;
}

/* Project SECTION */
body {
    margin: auto 0;
    background-color: rgb(41, 40, 40);
}

.zone {
    cursor: pointer;
    color: #FFF;
    font-size: 2em;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

/* SECTION background colors */
.green {
    background-image: linear-gradient(to bottom, #45A368, #157539);
}

.red {
    background-image: linear-gradient(to bottom, #E16360, #A1201D);
}

.yellow {
    background-image: linear-gradient(to bottom, #E1B660, #A1751D);
}

.blue {
    background-image: linear-gradient(to bottom, #496197, #1C346C);
}